name: Test GTFS download

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  nap_gtfs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Download GTFS
        env:
          NAP_USERNAME: ${{ secrets.NAP_USERNAME }}
          NAP_PASSWORD: ${{ secrets.NAP_PASSWORD }}
          GTFS_OUT: gtfs.zip
        run: node scripts/nap-download-gtfs.js

      - name: Commit & push (if changed)
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "Update GTFS" || exit 0
          git push
